PANDAS IS AN OPEN SOURCE, BSD-LICENSED LIBRARY PROVIDING HIGH-PERFORMANCE,EASY TO USE DATA STRUCTURES AND DATA ANALYSIS TOOLS FOR PYTHON

In [40]:
import pandas as pd 
import numpy as np

#PLAYING WITH DATAFRAMES
df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Column4"])
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [41]:
df.to_csv('Test1.csv')

In [42]:
#ACESSING THE ELEMENTS 
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [43]:
df.loc['Row1', 'Column1']

0

In [44]:
type(df.loc['Row1'])

pandas.core.series.Series

In [45]:
df.iloc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [46]:
df.iloc[:,1:]

      Column2  Column3  Column4
Row1        1        2        3
Row2        5        6        7
Row3        9       10       11
Row4       13       14       15
Row5       17       18       19

In [47]:
type(df.iloc[:,1:])

pandas.core.frame.DataFrame

In [50]:
#CONVERTING DF TO ARRAY
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [51]:
df.iloc[:,1:].values.shape

(5, 3)

In [52]:
#checking null condition-first thing to check when data is loaded
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [54]:
#value counts 
df['Column1'].value_counts()
#tells how many unique categoris are there

0     1
4     1
8     1
12    1
16    1
Name: Column1, dtype: int64

In [55]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [3]:
df=pd.read_csv('Test1.csv')
df.head()

NameError: name 'pd' is not defined

In [4]:
import pandas as pd 
import numpy as np
df=pd.read_csv('Test1.csv')
df.head()

  Unnamed: 0  Column1  Column2  Column3  Column4
0       Row1        0        1        2        3
1       Row2        4        5        6        7
2       Row3        8        9       10       11
3       Row4       12       13       14       15
4       Row5       16       17       18       19

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  5 non-null      object
 1   Column1     5 non-null      int64
 2   Column2     5 non-null      int64
 3   Column3     5 non-null      int64
 4   Column4     5 non-null      int64
dtypes: int64(4), object(1)
memory usage: 328.0+ bytes

In [6]:
df.describe()

         Column1    Column2    Column3    Column4
count   5.000000   5.000000   5.000000   5.000000
mean    8.000000   9.000000  10.000000  11.000000
std     6.324555   6.324555   6.324555   6.324555
min     0.000000   1.000000   2.000000   3.000000
25%     4.000000   5.000000   6.000000   7.000000
50%     8.000000   9.000000  10.000000  11.000000
75%    12.000000  13.000000  14.000000  15.000000
max    16.000000  17.000000  18.000000  19.000000

In [ ]:
#test_df=pd.read_csv('test1.csv',sep=';')